<h1 class='text-center'>Previous NPV Queries</h1>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped table-bordered table-hover' *ngIf="forecasts">
    <thead class='thead-dark thead-center'>
        <tr>
            <th>Initial Investment</th>
            <th>Lower Bound Rate</th>
            <th>Upper Bound Rate</th>
            <th>Rate Increment</th>
        </tr>
    </thead>
    <tbody class='text-center'>
        <tr *ngFor="let forecast of queries | async">
            <td>$ {{ forecast.initialInvestment }}</td>
            <td>{{ forecast.lowerBoundRate }}</td>
            <td>{{ forecast.upperBoundRate }}</td>
            <td>{{ forecast.rateIncrement }} %</td>
        </tr>
    </tbody>
</table>
