<h1 class='text-center'>Previous NPV Queries</h1>

<p *ngIf="!queries"><em>Loading...</em></p>

<table class='table table-striped table-bordered table-hover' *ngIf="queries">
    <thead class='thead-dark thead-center'>
        <tr>
            <th>Initial Investment</th>
            <th>Lower Bound Rate</th>
            <th>Upper Bound Rate</th>
            <th>Rate Increment</th>
        </tr>
    </thead>
    <tbody class='text-center'>
        <tr *ngFor="let query of queries | async">
            <td>$ {{ query.initialInvestment }}</td>
            <td>{{ query.lowerBoundRate }}</td>
            <td>{{ query.upperBoundRate }}</td>
            <td>{{ query.rateIncrement }} %</td>
        </tr>
    </tbody>
</table>
